@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<User>

<h1>User Management</h1>
<form action="/Identity/Account/Register" method="get">
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<table id="userTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Customer ID</th>
            <th>Authorization Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.username</td>
                <td>@u.password</td>
                <td>@u.customer_ID</td>
                <td>@u.auth_status</td>
                <td>
                    <!-- Add buttons for actions (Edit/Remove) -->
                <td><a class="btn btn-primary" asp-controller="Home" asp-action="EditUser" asp-route-id="@u.username">Edit</a></td>
                <td><a class="btn btn-alert" asp-controller="Home" asp-action="DeleteUser" asp-route-id="@u.username">Delete</a></td>
            </tr>
        }
    </tbody>

</table>

