@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IQueryable<ApplicationUser>

<script>
    function confirmDelete(userId) {
        if (confirm("Are you sure you want to delete this user?")) {
            // Set the userId in the hidden input field
            document.getElementById("userIdToDelete").value = userId;
            // Submit the form to delete the user
            document.getElementById("deleteForm").Submit();
        }
    }
</script>

<h1>User Management</h1>
<form asp-action="AdminAddUser" method="get">
    <button type="submit" class="btn btn-primary">Create User</button>
</form>

<table id="userTable">
    <thead>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Customer ID</th>
            <th>Two Factor Enabled</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.UserName</td>
                <td>@u.PasswordHash</td>
                <td>@u.Id</td>
                <td>@u.TwoFactorEnabled</td>
                <td>
                    <!-- Add buttons for actions (Edit/Remove) -->
                <td><a class="btn btn-primary" asp-controller="Home" asp-action="AdminUpdateUser" asp-route-id="@u.Id">Edit</a></td>
                <td>
                    <form id="deleteForm" method="post" asp-controller="Home" asp-action="DeleteUser">
                         <input type="hidden" name="id" id="userIdToDelete" value="@u.UserName" />
                        <button type="submit" class="btn btn-alert" asp-controller="Home" asp-action="DeleteUser" onclick="confirmDelete('@u.Id')">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

