@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ApplicationUser

<div class="row">
    <div class="blue-brick text-white col col-1">
        <h2 class="center">
            @ViewData["Title"]
        </h2>
    </div>
</div>
<div class="w-100"></div>
<div class="bg-white col blue-border rounded-3 shadow">
    <div class="container">
        <form asp-action="AdminAddUser" method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="hidden" asp-for="@Model.AccessFailedCount">
                            <input type="hidden" asp-for="@Model.EmailConfirmed">
                            <input type="hidden" asp-for="@Model.NormalizedUserName" />
                            <input type="hidden" asp-for="@Model.NormalizedEmail" />
                            <input type="hidden" asp-for="@Model.EmailConfirmed" />
                            <input type="hidden" asp-for="@Model.PasswordHash" />
                            <input type="hidden" asp-for="@Model.SecurityStamp" />
                            <input type="hidden" asp-for="@Model.ConcurrencyStamp" />
                            <input type="hidden" asp-for="@Model.PhoneNumber" />
                            <input type="hidden" asp-for="@Model.PhoneNumberConfirmed" />
                            <input type="hidden" asp-for="@Model.TwoFactorEnabled" />
                            <input type="hidden" asp-for="@Model.LockoutEnd" />
                            <input type="hidden" asp-for="@Model.LockoutEnabled" />
                            <input type="hidden" asp-for="@Model.AccessFailedCount" />
                            <label asp-for="@Model.Id"></label>
                            <input asp-for=@Model.Id />
                        </td>
                        <td>
                            <label asp-for="@Model.UserName">Username </label>
                            <input asp-for="@Model.UserName"  />
                        </td>
                        <td>
                            <label asp-for="@Model.PasswordHash">Password </label>
                            <input asp-for="@Model.PasswordHash" />
                        </td>
                        <td>
                            <select id="role">
                                <option value="Admin">Admin</option>
                                <option value="User">User</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit">Add User</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
