@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Intextwo.Infrastructure
@model ProductListViewModel

<div class="green-brick text-white">
    <h2 class="center">
        PRODUCTS
    </h2>
</div>

<div class="row p-2 bg-white green-border shadow rounded-3">
    <div class="col justify-content-md-start">
@*         <form asp-action="CustProductList" asp-route-pageNum="1" asp-route-pageSize="" method="get">

        </form> *@
@* 
        <div class="text-black border border-black m-2" value="5">5</div>
        <div class="text-black border border-black m-2" value="10">10</div>
        <div class="text-black border border-black m-2" value="20">20</div> *@

    </div>


    @foreach (var x in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-controller="Home" asp-action="SeeProd" asp-route-id="@x.product_ID" class="card-link">
                    <img src="@x.img_link" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@x.name</h5>
                        <p class="card-text">Year: @x.year</p>
                        <p class="card-text">Number of Parts: @x.num_parts</p>
                        <p class="card-text">Price: @x.price</p>
                        <p class="card-text">Primary Color: @x.primary_color</p>
                        <p class="card-text">Secondary Color: @x.secondary_color</p>
                        <p class="card-text">Category: @x.category</p>
                    </div>

                </a>
                <form method="post" asp-page="/Cart">
                    <input type="hidden" name="productid" value="@x.product_ID" />
                    <input type="hidden" name="returnUrl" value="@Context.Request.PathAndQuery()" />
                    <button type="submit" class="btn-success">+ Add to cart</button>
                    
                </form>

            </div>
        </div>
    }
    <div class="col-1">
        <h3>Pages:</h3>
        <hr />
        <div page-model="@Model.PaginationInfo" page-action="CustProductList" page-class-enabled="true" page-class="btn bg-danger " page-class-normal="btn-outline-light text-light" page-class-selected="btn bg-white text-black" class="btn-group pull-right m-3 rounded-3 border border-danger ">Pages: </div>
    </div>
</div>









