@{
    ViewData["Title"] = "Home Page";
}

@using Intextwo.Infrastructure
@using Intextwo.Models

@model List<Product>

<div id="alert" class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Wait!</strong> This site may use cookies to enhance your experience.
    <button type="button" class="btn btn-primary" id="acceptButton">Accept</button>
    <button type="button" class="btn btn-secondary" id="declineButton">Decline</button>
    <button type="button" class="btn btn-secondary" id="privacyButton">Privacy</button>
</div>

<div class="green-brick text-white">
    <h2 class="center">WELCOME</h2>
</div>

<h1>Recommended Products:</h1>
<br />

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a asp-controller="Home" asp-action="SeeProd" asp-route-id="@product.product_ID" class="card-link">
                        <img src="@product.img_link" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@product.name</h5>
                            <p class="card-text">Year: @product.year</p>
                            <p class="card-text">Number of Parts: @product.num_parts</p>
                            <p class="card-text">Price: @product.price</p>
                            <p class="card-text">Primary Color: @product.primary_color</p>
                            <p class="card-text">Secondary Color: @product.secondary_color</p>
                            <p class="card-text">Category: @product.category</p>
                        </div>
                    </a>
                    <form method="post" asp-page="/Cart">
                        <input type="hidden" name="productid" value="@product.product_ID" />
                        <input type="hidden" name="returnUrl" value="@Context.Request.PathAndQuery()" />
                        <button type="submit" class="btn-success">+ Add to cart</button>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Display the alert
            $("#alert").show();

            // Attach click events to both buttons
            $("#acceptButton").click(function () {
                // Handle accept logic here
                // ...
                $("#alert").hide();
            });

            $("#declineButton").click(function () {
                // Redirect to the privacy page
                window.location.href = '@Url.Action("Sorry", "Home")';
            });
            $("#privacyButton").click(function () {
                // Redirect to the privacy page
                window.location.href = '@Url.Action("Privacy", "Home")';
            });
        });
    </script>
}
