@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Products";
}
@using Intextwo.Infrastructure
@model ProductRecommendationViewModel

<div class="container">
    <div class="card p-5 green-border">
        <a asp-controller="Home" asp-action="CustProductList" class="btn btn-primary m-3 text-white rounded-pill" style="width:150px;">Back</a>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="item-title rounded nav-item m-2 p-2">
                        <h4 class="card-title">@Model.Product.name</h4>
                    </div>
                    <div class="border border-light shadow-sm m-2 rounded">
                        <input type="hidden" asp-for="@Model.Product.product_ID">
                        <img src="@Model.Product.img_link" class="card-img-top p-3 rounded" alt="Product Image" style="width:100%;">
                    </div>
                    <div class="absolute-center">
                        <form method="post" asp-page="/Cart">
                            <input type="hidden" name="productid" value="@Model.Product.product_ID" />
                            <input type="hidden" name="returnUrl" value="@Context.Request.PathAndQuery()" />
                            <button type="submit" class="btn add-cart-button rounded-pill m-2 p-2" style="width:500px;"><h4>+ Add to cart</h4></button>
                        </form>
                    </div>

                </div>
                <div class="col">
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Year:</strong> @Model.Product.year</p>
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Number of Parts:</strong> @Model.Product.num_parts</p>
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Price:</strong> @Model.Product.price</p>
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Primary Color:</strong> @Model.Product.primary_color</p>
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Secondary Color:</strong> @Model.Product.secondary_color</p>
                    <p class="card-text"><strong class="rounded-3 m-2 p-2 bg-light">Category:</strong> @Model.Product.category</p>
                    <br />
                    <div class="m-3">
                        <strong class="card-text">Description:</strong>
                        <hr />
                        <p class="card-text">@Model.Product.description</p>
                    </div>
                </div>
            </div>
        <div class="m-2">
            <h5>Recommendations:</h5>
            <ul>
                <li>@Model.Recommendations.Recommendation1</li>
                <li>@Model.Recommendations.Recommendation2</li>
                <li>@Model.Recommendations.Recommendation3</li>
                <li>@Model.Recommendations.Recommendation4</li>
                <li>@Model.Recommendations.Recommendation5</li>
            </ul>
        </div>
    </div>
@*     <div>
    <h5>Recommendations:</h5>
    <div class="card-deck">

        var recommendationProduct1 = _repo.Products.SingleOrDefault(p => p.name == Model.Recommendations.Recommendation1);
            <div class="card">
                <img src="@recommendationProduct1.img_link" class="card-img-top" alt="Recommendation 1 Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.Recommendations.Recommendation1</h5>
                    <p class="card-text">Year: @recommendationProduct1.year</p>
                    <p class="card-text">Price: @recommendationProduct1.price</p>
                    <!-- Add other relevant details -->
             </div>
     </div> EDIT THIS SOON*@

    </div>
</div>
