@page
@model Intextwo.Pages.CartModel
@{
}
<div class="green-brick-small text-white">
</div>


<table class="table green-border table-striped p-2 shadow rounded-3">
    <thead>
        <tr>
            <th>Product</th>           

            <th>Quantity</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">$@l.Product.price</td>
                <td class="text-right">@((l.Quantity * l.Product.price)?.ToString("c") ?? "N/A")</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="productid" value="@l.Product.product_ID" />
                        <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
        <foot>
            <tr class="table-total text-white">
                <td colspan="3" class="text-right">Total</td>
                <td class="text-right">@Model.Cart.CalculateTotal().ToString("c")</td>
                <td></td>
            </tr>
        </foot>
    </tbody>
</table>

<div class="row p-2 rounded-pill bg-light shadow-sm item-border">
    <div class="col">
        <div class="text-center ">
            <a class="btn add-cart-button rounded-pill" href="@Model.ReturnUrl">Continue Shopping</a>
        </div>
    </div>

    <div class="col">
        <form method="post">
            <div class="text-center">
                <button type="submit" class="btn add-cart-button rounded-pill" asp-page-handler="Checkout">
                    Proceed to Checkout
                </button>
            </div>
        </form>
    </div>
</div>

